<section class="margin-y-spacing-7">
  <div class="container padding-x-spacing-4 padding-lg-x-spacing-6">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 inner-container inner-container-light padding-y-spacing-7">
        <h2 class="text-center">Welcome back <%= current_user.first_name %></h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
          <div class="form-row margin-bottom-spacing-5">
            <div class="col-12 col-lg-6">
              <%= f.input :first_name, autofocus: true %>
            </div>
            <div class="col-12 col-lg-6">
              <%= f.input :last_name, autofocus: true %>
            </div>
          </div>
          <div class="form-row margin-bottom-spacing-6">
            <div class="col-12 col-lg-6">
              <%= f.input :user_name, autofocus: true %>
            </div>
            <div class="col-12 col-lg-6">
              <%= f.input :age, autofocus: true %>
            </div>
          </div>
            <hr>
            <div class="form-row margin-top-spacing-6 margin-bottom-spacing-5">
              <div class="col-12">
                <%= f.input :email, required: true, autofocus: true %>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
              </div>
            </div>

            <div class="form-row margin-bottom-spacing-5">
              <div class="col-12 col-lg-6">
                <%= f.input :password,
                            hint: "leave it blank if you don't want to change it",
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
              </div>
              <div class="col-12 col-lg-6">
                <%= f.input :password_confirmation,
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
              </div>
            </div>
            <div class="form-row margin-bottom-spacing-7">
              <div class="col-12 col-lg-6">
                  <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
              </div>
            </div>
          </div>

          <div class="form-actions margin-bottom-spacing-7">
            <%= f.button :submit, "Update", class: "cta cta-light-with-border w-50" %>
          </div>
        <% end %>
        <hr>
        <div class="d-flex flex-column align-items-center text-center padding-top-spacing-6">
        <h3>Cancel my account</h3>


        <h4 class="margin-bottom-spacing-6">Unhappy?</h4>
        <div class="d-flex flex-column w-50">
          <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "margin-bottom-spacing-5" %>
          <%= link_to "Back", :back %>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
