<section class="margin-y-spacing-7">
<div class="container">
<div class="row">
<div class="d-none d-lg-block col-lg-5">
<%= image_tag("skyline.jpg", height: 'auto', width: '100%')%>
</div>
<div class="col-12 col-lg-5">
<h2 class="text-center">Create an account</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-row margin-bottom-spacing-5">
      <div class="col-12">
        <%= f.input :user_name,
                    required: true,
                    autofocus: true %>
      </div>
    </div>

    <div class="form-row margin-bottom-spacing-5">
    <div class="col-12">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
    </div>
    </div>
    <div class="form-row margin-bottom-spacing-5">
      <div class="col-12">
      <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
      </div>
    </div>
    <div class="form-row margin-bottom-spacing-7">
      <div class="col-12">
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>



</section>
