<%= simple_form_for asset do |f| %>
  <div class="form-inputs">
    <%= f.input :name, :as => :hidden %>
    <%= f.input :category, :as => :hidden %>
    <div class="form-row ">
      <div class="col-12">
        <% if @asset.category == "securities" || @asset.category == "raw_materials" || @asset.category == "crypto" %>
          <%= f.input :sub_category, collection: @subs_array, label: "What type is your asset of?", prompt: "Select type" %>
        <% else %>
          <%= f.input :sub_category, label: "What type is your asset of?" %>
        <% end %>
      </div>
    </div>
  </div>
    <%= f.submit "Add Asset", class: "cta cta-dark" %>
<% end %>
