<div class="form-row">
            <div class="col-12 col-lg-6">
              <label>Previous <%=@asset.sub_category.upcase%> Value</label>
              <div class="d-flex form-control input-styling align-items-center margin-bottom-spacing-5">
                <% if @latest_price_point.nil? %>
                  <span>0€</span>
                <% else %>
                  <span><%= number_with_delimiter((@latest_price_point.cents / 100.00), options = {}) %> €</span>
                <% end %>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <label>Previous <%=@asset.sub_category.upcase%> Coin amount</label>
              <div class="d-flex form-control input-styling align-items-center margin-bottom-spacing-5">
                <% if @latest_price_point.nil? %>
                  <span>0</span>
                <% else %>
                  <span><%= number_with_delimiter((@latest_price_point.crypto_amount), options = {}) %></span>
                <% end %>
              </div>
            </div>
          </div>
          <div data-controller="coin-list">
          <%= form_with url: asset_path(@asset), method: :get, html: { class: 'mb-5', data: { coin_list_target: 'form' } } do |f| %>
            <div class="form-inputs">
              <div class="form-row margin-bottom-spacing-5">
                <div class="col-12">
                 <%= f.label :amount, "Type in your #{@asset.sub_category.upcase} amount" %><br />
                  <%= f.text_field :amount,
                                 value: params[:amount],
                                 class:"w-100",
                                 placeholder: "Type in #{@asset.sub_category.upcase} amount to get the latest value automatically",
                                 data: { coin_list_target: 'amount',
                                        action: "keyup->coin-list#update" } %>
                </div>
                <div class="col-12">
                  <%= f.hidden_field :symbol,
                            class: "form-control",
                            placeholder: 'Select Crypto',
                            value: @asset.sub_category.upcase,
                            data: {
                              coin_list_target: 'symbol'
                            } %>
                </div>
               </div>
              <% end %>
            </div>

        <%= render 'shared/form_asset_show_crypto_value', asset: @asset, price_point: @price_point %>
        </div>
