<label>Previous Amount</label>
<div class="d-flex form-control input-styling align-items-center margin-bottom-spacing-5">
  <% if @latest_price_point.present? %>
    <span><%= number_with_delimiter((@latest_price_point.cents / 100), options = {}) %> €</span>
  <% else %>
    <span>0 €</span>
  <% end %>
  <% raise %>
</div>
<%= simple_form_for([ asset, price_point ], remote: true) do |f| %>
  <div class="form-inputs">
    <div class="form-row ">
      <div class="col-12">
        <%= f.input :cents, label: "New Value" %>
      </div>
    </div>
    <div class="form-row ">
      <div class="col-12">
        <%= f.input :date, as: :date, label: "Date, which the value applies to", html5: true, input_html: {value: Date.today}%>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <%= f.input :text, label: "Add your comment", input_html: {rows: 4} %>
      </div>
    </div>
  </div>
  <%= f.submit "Add price point", class: "cta cta-dark" %>
<% end %>
