<div class="form-row">
            <div class="col-12 col-lg-6">
              <label>Previous <%=@asset.sub_category.upcase%> Value</label>
              <div class="d-flex form-control input-styling align-items-center margin-bottom-spacing-5">
                <% if @latest_price_point.nil? %>
                  <span>0€</span>
                <% else %>
                  <span><%= number_with_delimiter((@latest_price_point.cents / 100.00), options = {}) %> €</span>
                <% end %>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <label>Previous <%=@asset.sub_category.upcase%> Coin Number</label>
              <div class="d-flex form-control input-styling align-items-center margin-bottom-spacing-5">
                <% if @latest_price_point.nil? %>
                  <span>0</span>
                <% else %>
                  <span><%= number_with_delimiter((@latest_price_point.crypto_amount), options = {}) %></span>
                <% end %>
              </div>
            </div>
          </div>
          <div data-controller="coin-list">
          <%= form_tag crypto_asset_path, method: :get do |f| %>
            <div class="form-inputs">
              <div class="form-row margin-bottom-spacing-5">
                <div class="col-12">
                  <%= text_field_tag :amount, params[:amount], class:"w-100", placeholder: "Type in #{@asset.sub_category.upcase} amount" %>
                </div>
                <div class="col-12">
                  <%= hidden_field_tag :symbol, @asset.sub_category%>
                </div>
               </div>
                <div class="form-row margin-bottom-spacing-5">
                  <div class="col-12 col-lg-6">
                    <%= submit_tag "Get Crypto value", class:'cta cta-light-with-border w-100' %>
                  </div>
                </div>
              <% end %>
            </div>

            <%= simple_form_for [ asset, price_point ] do |f| %>
              <div class="form-inputs">
               <%= f.hidden_field :crypto_amount, label: "Number of coins", value: params[:amount]%>
                <div class="form-row margin-bottom-spacing-5">
                  <div class="col-12">
                    <%= f.input :cents, label: "Crypto Value", input_html: {value: @value} %>
                  </div>
                </div>
                <div class="form-row margin-bottom-spacing-5">
                  <div class="col-12">
                    <%= f.input :date, as: :date, label: "Date, which the value applies to", html5: true, input_html: {value: Date.today}%>
                  </div>
                </div>
                <div class="form-row margin-bottom-spacing-5">
                  <div class="col-12">
                    <%= f.input :text, label: "Add your comment", input_html: {rows: 4} %>
                  </div>
                </div>
              </div>
              <%= f.submit "Add price point", class: "cta cta-dark" %>
            <% end %>
        </div>
