<%= simple_form_for [ asset, price_point ] do |f| %>
  <div class="form-inputs">

    <%= simple_fields_for :real_estates do |p| %>
      <%= p.input :sqm, label: "Square meters of the real estate", input_html: {value: @asset.real_estate.sqm }  %>
      <%= p.input :price_per_sqm, input_html: {value: @asset.real_estate.price_per_sqm }  %>
      <%= p.input :mortgage, input_html: {value: @asset.real_estate.mortgage }  %>
    <% end %>

    <%= f.input :cents, :as => :hidden %>
    <div class="form-row margin-bottom-spacing-5">
      <div class="col-12">
        <%= f.input :date, as: :date, label: "Date, which the value applies to", html5: true, input_html: {value: Date.today}%>
      </div>
    </div>
    <div class="form-row margin-bottom-spacing-5">
      <div class="col-12">
        <%= f.input :text, label: "Add your comment", input_html: {rows: 4} %>
      </div>
    </div>
  </div>
  <%= f.submit "Add price point", class: "cta cta-dark" %>
<% end %>
