<div data-coin-list-target="list">
  <%= simple_form_for [ asset, price_point ] do |f| %>
    <div class="form-inputs">
    <%= f.hidden_field :crypto_amount, label: "Number of coins", value: params[:amount]%>
      <div class="form-row margin-bottom-spacing-5">
        <div class="col-12">
          <%= f.input :cents, label: "Crypto Value", input_html: {value: number_with_precision(@value, precision: 2), required: true} %>
        </div>
      </div>
      <div class="form-row margin-bottom-spacing-5">
        <div class="col-12">
          <%= f.input :date, as: :date, label: "Date, which the value applies to", html5: true, input_html: {value: Date.today}%>
        </div>
      </div>
      <div class="form-row margin-bottom-spacing-5">
        <div class="col-12">
          <%= f.input :text, label: "Add your comment", input_html: {rows: 4} %>
        </div>
      </div>
    </div>
    <%= f.submit "Add price point", class: "cta cta-dark" %>
  <% end %>
</div>
