<%= simple_form_for [ asset, price_point ], url: (price_point.new_record? ? asset_price_points_path(asset) : asset_price_point_path(asset, price_point)) do |f| %>
  <div class="form-inputs">
    <div class="form-row margin-bottom-spacing-5">
      <div class="col-12">
        <%= f.input :cents, label: "New Value" %>
      </div>
    </div>
    <div class="form-row margin-bottom-spacing-5">
      <div class="col-12">
        <%= f.input :date, as: :date, label: "Date, which the value applies to", html5: true, input_html: {value: Date.today}%>
      </div>
    </div>
    <div class="form-row margin-bottom-spacing-5">
      <div class="col-12">
        <%= f.input :text, label: "Add your comment", input_html: {rows: 4} %>
      </div>
    </div>
  </div>
  <%= f.submit "Add price point", class: "cta cta-dark" %>
<% end %>
