<section class="margin-y-spacing-7">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-8">
        <h1><%= @category.humanize %></h1>
      </div>
       <% if @category != "cash" %>
      <div class="col-12 col-lg-4 text-right">
        <%= link_to "Create new #{@category.humanize}", new_asset_path(category: @category), class: "cta cta-light" %>
      </div>
      <% end %>
    </div>
  </div>
</section>

<section class="margin-y-spacing-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <%= render "index_all_assets", all_assets_hash: @all_assets_hash %>
      </div>
      <div class="col-12 col-lg-8">
        <% @assets.each do |asset| %>
          <% if asset.category == "cash" %>
            <div class="inner-container inner-container-light padding-y-spacing-7 padding-x-spacing-4">
              <label>Previous Amount</label>
              <p> <%= number_to_currency(@all_assets_hash[:"cash"] / 100, precision: 0, unit: "€") %> </p>
              <%= render "shared/form_price_point_general", asset: asset, price_point: @price_point %>
            </div>
          <% else asset.category == "securities" %>
            <%=link_to asset_path(asset.id) do %>
              <%= render "shared/cards", asset: asset %>
            <% end %>
          <% end %>
        <% end %>
        <div class="margin-top-spacing-7">
            <%= render "price_points/index_pp" %>
        </div>
      </div>
    </div>
  </div>
</section>
