<section class="margin-y-spacing-7">
  <div class="container padding-x-spacing-4 padding-lg-x-spacing-6">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 inner-container inner-container-light padding-y-spacing-7">
        <h2 class="text-center">Create a new asset</h2>
        <%= simple_form_for @asset do |f| %>
        <div class="form-inputs">
          <div class="form-row margin-bottom-spacing-5">
            <div class="col-12">
              <%= f.input :name, label: "Give your asset a name" %>
            </div>
          </div>
          <div class="form-row margin-bottom-spacing-5">
            <div class="col-12">
              <%= f.input :category, collection: [["CASH", "cash"], ["CRYPTO", "crypto"]], label: "What Category is your asset in?" %>
            </div>
          </div>
          <div class="form-row margin-bottom-spacing-5">
            <div class="col-12">
              <%= f.input :sub_category, collection: [["CASH", "cash"], ["BTC", "btc"]], label: "What Category is your asset in?" %>
            </div>
          </div>
        </div>
        <%= f.fields_for @price_point do |p| %>
          <div class="form-inputs">
            <div class="form-row margin-bottom-spacing-5">
              <div class="col-12">
                <%= p.input :cents, label: "Value" %>
              </div>
            </div>
            <div class="form-row margin-bottom-spacing-5">
              <div class="col-12">
                <%= p.input :date, as: :date, label: "Date, which the value applies to", html5: true, input_html: {value: Date.today}%>
              </div>
            </div>
            <div class="form-row margin-bottom-spacing-5">
              <div class="col-12">
                <%= p.input :text, label: "Add your comment", input_html: {rows: 4} %>
              </div>
            </div>
          </div>
        <% end %>
          <%= f.submit "Add price point", class: "cta cta-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
