<section class="margin-y-spacing-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1><%= @asset.name.humanize %></h1>
      </div>
    </div>
  </div>
</section>

<section class="margin-y-spacing-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <%= render "index_asset" %>
      </div>
      <div class="col-12 col-lg-8">
        <div class="inner-container inner-container-light padding-y-spacing-7 padding-x-spacing-4">
        <% if @asset.category == "crypto" %>
          <%= render "shared/form_asset_show_crypto", asset: @asset, price_point: @price_point %>
        <% else %>
          <%= render "shared/form_asset_show_general", asset: @asset, price_point: @price_point %>
        <% end %>
        </div>
        <% unless @asset.price_points.size == 0 %>
        <div class="padding-top-spacing-7">
          <h2>Recent Activities</h2>
          <div class="activities activities-light padding-x-spacing-5 padding-lg-x-spacing-6 padding-y-spacing-3">
          <% @sorted_price_points.each_with_index do |price_point, index| %>
            <div id="price-point-<%=price_point.id%>" class="d-flex align-items-center padding-y-spacing-4">
              <span class="activities-value"><%= number_with_delimiter((price_point.cents / 100), options = {}) %> €</span>
              <span class="activities-date"><%= price_point.date %></span>
              <span class="activities-comment"><%= price_point.text %></span>
            </div>
            <% unless index == @asset.price_points.size - 1 %>
              <div class="d-flex activities-row margin-x-spacing-negative-5 margin-lg-x-spacing-negative-6"></div>
            <% end %>
          <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
