<section class="margin-y-spacing-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1><%= @asset.name.humanize %></h1>
      </div>
    </div>
  </div>
</section>

<%= @result %>

<section class="margin-y-spacing-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <%= render "index_asset" %>
      </div>
      <div class="col-12 col-lg-8">
        <% if @price_point.id != nil %>
          <h2> Update <%= @asset.sub_category.humanize %> price point </h2>
        <% else %>
          <h2> Create new <%= @asset.sub_category.humanize %> price point </h2>
        <% end %>

        <div class="inner-container inner-container-light padding-y-spacing-7 padding-x-spacing-4">
          <% if @asset.category == "crypto" %>
            <%= render "shared/form_asset_show_crypto", asset: @asset, price_point: @price_point %>
          <% elsif @asset.category == "real_estate" %>
            <%= render "shared/form_price_point_real_estate", asset: @asset, price_point: @price_point %>
          <% else %>
            <%= render "shared/form_asset_show_general", asset: @asset, price_point: @price_point %>
          <% end %>
        </div>
        <% unless @price_points.size == 0 %>
          <%= render "price_points/index_pp" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
