<%= @asset.category %>

<h1>Asset#show</h1>
<p>Find me in app/views/asset/show.html.erb</p>
<section class="margin-y-spacing-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
      </div>
      <div class="col-12 col-lg-8">
        <div class="inner-container inner-container-light padding-y-spacing-7 padding-x-spacing-4">
          <div class="d-flex form-row">
            <div class="col-12 col-lg-6">
              <label>Previous Amount</label>
              <div class="d-flex form-control input-styling align-items-center margin-bottom-spacing-5">
                <span><%= ((@latest_price_point.cents / 100.0) / 43000).round(4) %></span>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <label>Previous Total Value</label>
              <div class="d-flex form-control input-styling align-items-center margin-bottom-spacing-5">
                <span><%= number_with_delimiter((@latest_price_point.cents / 100), options = {}) %> €</span>
              </div>
            </div>
          </div>
            <%= simple_form_for [ @asset, @price_point ] do |f| %>
              <div class="form-inputs">
                <div class="form-row margin-bottom-spacing-5">
                  <div class="col-12 col-lg-6">
                    <%= f.input :cents, as: :decimal, label: "Amount"%>
                  </div>
              <div class="col-12 col-lg-6">
                <label>Previous Total Value</label>
                <div class="d-flex form-control input-styling align-items-center margin-bottom-spacing-5">
                  <span><%= number_with_delimiter((@latest_price_point.cents / 100), options = {}) %> €</span>
                </div>
              </div>
                </div>
                <div class="form-row margin-bottom-spacing-5">
                  <div class="col-12">
                    <%= f.input :date, as: :date, label: "Date, which the value applies to", html5: true, input_html: {value: Date.today}%>
                  </div>
                </div>
                <div class="form-row margin-bottom-spacing-5">
                  <div class="col-12">
                    <%= f.input :text, label: "Add your comment", input_html: {rows: 4} %>
                  </div>
                </div>
              </div>
              <%= f.submit "Add price point", class: "cta cta-dark" %>
            <% end %>
        </div>
        <div class="padding-top-spacing-7">
        <h2>Recent Activities</h2>
        <div class="activities activities-light padding-x-spacing-5 padding-lg-x-spacing-6 padding-y-spacing-3">
        <% @asset.price_points.each_with_index do |price_point, index| %>
          <div class="d-flex align-items-center padding-y-spacing-4">
            <span class="activities-value"><%= number_with_delimiter((price_point.cents / 100), options = {}) %> €</span>
            <span class="activities-date"><%= price_point.date %></span>
            <span class="activities-comment"><%= price_point.text %></span>
          </div>
          <% unless index == @asset.price_points.size - 1 %>
            <div class="d-flex activities-row margin-x-spacing-negative-5 margin-lg-x-spacing-negative-6"></div>
          <% end %>
        <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
