<section class="mt-4">
  <div class="container">
        <h1>Your personal dashboard <%= @current_user.first_name %></h1>
  </div>
</section>

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <%= render "assets/index_all_assets", all_assets_hash: @all_assets_hash %>
      </div>
      <div class="col-12 col-lg-8">
        <div class="activities activities-light padding-x-spacing-5 padding-lg-x-spacing-4 padding-y-spacing-4 margin-bottom-spacing-7" data-controller="chart-js" data-chart-js-hidden-class="hidden">
          <div class= "chart-btn-container">
            <button class="chart-btn" data-action="click->chart-js#hiddenPie" data-chart-js-target="button">
            Line Chart
            </button>
            <button class="chart-btn" data-action="click->chart-js#hiddenLine" data-chart-js-target="button" >
            Pie Chart
            </button>
            <span> Performance: <%= @performance %> % </span>
          </div>
          <div class="chart-container">
            <span class="" data-chart-js-target="line" > <%= line_chart(@line_chart_data, legend: false, thousands: ",", prefix: "€" ) %> </span>
            <span class="hidden" data-chart-js-target="pie"> <%= pie_chart(@all_assets_hash) %> </span>
          </div>
          <div class= "chart-btn-container">
            <button class="chart-btn" >
              <%= link_to "All", dashboard_path(period: "all") %>
            </button>
            <button class="chart-btn" >
              <%= link_to "1 year", dashboard_path(period: "1year") %>
            </button>
            <button class="chart-btn" >
              <%= link_to "3 years", dashboard_path(period: "3years") %>
            </button>
          </div>
        </div>
        <div class="margin-top-spacing-7">
          <%= render "price_points/index_pp" %>
        </div>
      </div>
    </div>
  </div>
</section>
