<h1><%= @category %></h1>

<%= render "asset/index_all_assets", all_assets_hash: @all_assets_hash %>

<%= @asset_num %>
<% @assets.each do |asset| %>
  <p>
    <%= asset.user.email %>
    Category: <%= asset.sub_category %>
  </p>
<% end %>

<%= render "price_point/index_pp" %>
